* {
  font-family: Arial;
  box-sizing: border-box;
}

:root {
    --header-height: 60px;
}

body {
    padding-top: var(--header-height);
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 16px;
}

.header-tools {
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: absolute; /* instead of fixed */
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.top-menu-button {
display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    padding: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 48px;
}

.top-menu-button img {
  object-fit: contain;
  pointer-events: none;
}

.menu-overlay {
    position: fixed;
    height: calc(100vh - var(--header-height));
    width: 100vw;
    top: var(--header-height);
    left: 0;
    z-index: 2;
    background-color: white;
    padding: 1em;
}

.menu-buttons {
    font-size: 36px;
    height: 1.5em;
}

.hidden {
    display: none;
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    width: 100vw;
    background-color: lightgray;
    border-bottom: solid 1px black;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
}

.exercise-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.exercise-button-caption {
    text-align: center;
    font-size: 24px;
}

.exercise-type-button {
    height: 250px;
    width: 250px;
    font-size: 16px;
}

.exercise-type {
    text-align: center;
}

.exercise-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.exercise-block {
    position: relative;
    background-color: white;
    padding: 0.5em;
}

.exercise-block:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.exercise-block:hover .block-toolbar {
    opacity: 1;
    pointer-events: auto;
}

.block-content {
    width: 100%;
}

.block-toolbar {
    position: absolute;
    display: flex;
    top: 0.5em;
    right: 0.5em;
    gap: 0.25em;
    opacity: 0;
    pointer-events: none;
}

.toolbar-btns {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    user-select: none;
}

.text-box {
    width: 100%;
    height: 8em;
    font-size: 24px;
}

.heading-input {
    width: 100%;
    height: 4em;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.worksheet-page {
  max-width: 800px;
  width: 100%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background: white;
}

.checkboxGroup {
    padding-bottom: 1em;
}

.answer-line {
    color: black;
    font-weight: bold;
}

label {
    font-size: 24px;
}

.label-top {
    padding-bottom: 1em;
    font-weight: bold;
}

.word-bank {
  text-align: center;
}

.word-bank-item {
  display: inline-block;
}

.underlined {
    text-decoration: underline;
    font-weight: bold;
}